@import 'normalize';
@import 'home';

$white: #FFFFFF;
$highlight: #FFFFFF;
$base: #D4D4D4;
$twitter: #50ABF1;
$github: #333333;
$gmail: #D34730;
$linkedin: #0076B7;

html { 
  background: url(images/background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.header_cont {
	top: 0px;
	width: 100%;
	position: fixed;
	height: 50px;
}

.header {
	background: url(images/background.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	height: 50px;
	border-bottom: 1px solid $base;
	margin: 0px auto;
	width: 100%;
}

.content {
	background: $white;
	width: 100%;
	height: 2000px;
	margin: 70px auto;
}

.navigation_wrapper {
	float: right;
	padding-top: 0.2em;
	padding-right: 1em;
}

.about {
	color: $white;
	font-weight: lighter;
	font-family: Courier New;
	letter-spacing: 4px;
	padding-left: 0.5em;
	padding-top: 0.4em;
	float: left;
}