@import 'normalize';

$white: #FFFFFF;
$highlight: #FFFFFF;
$base: #D4D4D4;
$twitter: #50ABF1;
$github: #333333;
$gmail: #D34730;
$linkedin: #0076B7;

html { 
  background: url(images/background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header {
	vertical-align: middle;
	horizontal-align: middle;
}

.panel_full {
	height: 100%;
	width: 100%;

	text-align: center;
	color: $white;
	font-weight: 100;
}

.panel_small {
	max-width: 620px;
	margin: 0 auto;
	max-height: 200px;
	width: 80%;
	min-padding: 4rem 0;
	padding: 10rem 0;
}

.panel_logo {
	margin-bottom: 0.2em;
	border-radius: 50%;
    border: 1px solid #FFF;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.3);
}

.copyright {
	font-size: 0.8em;
	margin: 10px auto;
	color: $base;
	text-align: center;
	padding-left: 0.5em;
}

.name {
	color: $white;
	font-weight: lighter;
	font-family: Courier New;
	letter-spacing: 4px;
	margin: 0 0 5px 0;
}

.button {
   border: 1px solid $base;
   background: transparent;
   padding: 9.5px 19px;
   border-radius: 30px;
   color: $base;
   font-size: 14px;
   font-family: Courier New;
   text-decoration: none;
   vertical-align: middle;

   &:hover {
       color: $highlight;
       border: 1px solid $highlight;
   }
}

.panel_divider {
	width: 65%;
	margin: 20px auto;
}

.panel_divider_second {
	width: 30%;
}

.panel_divider_third {
	border-width: 0px;
}

.content_wrapper {
	height: 100%;
	width: 100%;

	text-align: center;
	color: $white;
	font-weight: 100;
}

.info_div {
	background: $white;
	position: fixed;
	border: 1px solid $base;

	width: 300px;
	height: 400px;
	margin: -10% auto auto -15%;
	top: 30%;
	left: 50%;
	text-align: center;
}

p {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

hr {
	border-style: inset;
	border-width: 1px;
	border-top: 1px solid gray;
	border-bottom: 0px;
}

h1 {
	font-size: 2.5rem;
}

a {
	text-decoration: none;
}

nav {
	i {
		color: $base;
		margin-left: 0.5em;
		padding-top: 0.2em;
	}

	.info {
		&:hover {
			color: $linkedin;
		}
	}

	.twitter {
		&:hover {
			color: $twitter;
		}
	}

	.github {
		&:hover {
			color: $github;
		}
	}

	.linkedin {
		&:hover {
			color: $linkedin;
		}
	}

	.gmail {
		&:hover {
			color: $gmail;
		}
	}

	.sign_in {
		&:hover {
			color: $highlight;
		}
	}
}