extends layout

block content
	.xl-row.xl-gap-4.col.gap-4.justify
		.xl-fill-2.col.gap-2.justify.main.grid-desktop-only
			//- left column.
		.xl-fill-6.col.gap-2.justify.main
			h1 Sorry, looks like a 404...
		.xl-fill-2.col.gap-2.justify.main.grid-desktop-only
			//- right column.
