extends layout

block content
	.xl-row.xl-gap-4.col.gap-4.justify
		.xl-fill-2
			//- left column.
		.xl-fill-6
			h1 About
			p
				strong Fred Roenn
				| - junior economics and computer science major at Carleton College, MN, USA. Currently I am working for Homi, a social networking platform that is changing the networking game - pretty exciting stuff! For the 2016 summer I have accepted an offer from Facebook and will be heading out west to Menlo Park - you can expect more on this experience in my blog over the summer.
			br
			p Feel free to reach out to me.
		.xl-fill-2
			//- right column.