extends layout

block content
    .xl-row.xl-gap-4.col.gap-4.justify
        .xl-fill-2.col.gap-2.justify.main
            //- left column.
            if user
                form(method='POST' action="/blog/delete/#{post._id}/")
                    input(type="submit" value="Delete Post")
                form(action="/blog/edit/#{post._id}/")
                    input(type="submit" value="Edit Post")
        .xl-fill-6.main.col.justify.gap-2
            .post
                if post
                    h1 
                        a(href='/blog/#{post._id}/')= post.title
                    p #{post.body}
                else
                    p Seems like something went wrong...
            form(action="/")
                input(type="submit" value="Back")
        .xl-fill-2.col.gap-2.justify.main
            //- right column.