extends layout

block content
    .xl-row.xl-gap-4.col.gap-4.justify
        .xl-fill-2
            //- left column.
        .xl-fill-6
            h1 Blog
            if user 
                form(action="/blog/new/")
                    input(type="submit" value="New post")
            if posts && posts.length
                for p in posts
                    mixin post(p)
            else
                p Sorry, there are no posts yet...
        .xl-fill-2
            //- right column.