extends layout

block content
	.xl-row.xl-gap-4.col.gap-4.justify
		.xl-fill-2
			//- left column.
		.xl-fill-6
			.center
				h1 Fred Roenn
				p Technology enthusiast, student, programmer, economist
				p Currently @ Homi, Inc.
		.xl-fill-2
			//- right column.