extends layout

block content
  .xl-row.xl-gap-4.col.gap-4.justify
        .xl-fill-2
            //- left column.
            if user 
              form(action="/blog/logout/")
                  input(type="submit" value="Logout")
        .xl-fill-6.col.center.main.gap-3
          .col.center.gap-1
            img.thumbnail(src="/images/fred.jpg")
            h1 Fred Roenn
            p Technology enthusiast, student, programmer
            p Past @ Cxense
            p Currently @ Homi, Inc.
            p(style='margin-bottom: 0;') Summer 2016 @ Facebook, Inc.
          .row.gap-2.links
            a(href='/about/')
              i.information(class="fa fa-info-circle fa-lg")
            a(href='https://github.com/stensaethf' target="_blank")
              i.github(class="fa fa-github fa-lg")
            a(href='https://no.linkedin.com/in/stensaethf' target="_blank")
              i.linkedin(class="fa fa-linkedin-square fa-lg")
            a(href='mailto:frederikstensaeth@gmail.com')
              i.email(class="fa fa-envelope-o fa-lg")
            a(href='/documents/resume.pdf' target="_blank")
              i.resume(class="fa fa-file-text-o fa-lg")
          .col.gap-2.justify
            if user
              form(action="/blog/new/")
                  input(type="submit" value="New post")
            if posts && posts.length
              for post in posts
                mixin post(post)
            else
              p Sorry, there are no posts yet...
        .xl-fill-2
            //- right column.