extends layout

block content
	.personal-info.center
		img.thumbnail(src="/images/fred.jpg")
		h1 Fred Roenn
		p Technology enthusiast, student, programmer
		p Currently @ Homi, Inc.
		p Summer 2016 @ Facebook, Inc.
		.row.gap-2
			a.fa-icon(href='https://github.com/stensaethf' target="_blank")
				i(class="fa fa-github fa-lg")
			a.fa-icon(href='https://no.linkedin.com/in/stensaethf' target="_blank")
				i(class="fa fa-linkedin-square fa-lg")
			a.fa-icon(href='mailto:frederikstensaeth@gmail.com')
				i(class="fa fa-envelope-o fa-lg")
			a.fa-icon(href='#' target="_blank")
				i(class="fa fa-file-text-o fa-lg")