extends layout

block content
	.personal-info.center
		img.thumbnail(src="/images/fred.jpg")
		h1 Fred Roenn
		p Technology enthusiast, student, programmer
		p Currently @ Homi, Inc.
		p Summer 2016 @ Facebook, Inc.