doctype html
include mixins
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name="author" content="Fred Roenn")
    link(rel='stylesheet', href='/css/all.css')
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
    link(rel="icon" href="/images/fred-round.jpg" style='border-radius: 50%;')
    
    link(rel='stylesheet' href='//cdn.jsdelivr.net/simplemde/latest/simplemde.min.css')
    script(src='//cdn.jsdelivr.net/simplemde/latest/simplemde.min.js')

    block title_hook
        title "Frederik Roenn | Developer"
    //- code
  body
    block content
    //- code
  
  script(src='//code.jquery.com/jquery.js')
  script(src='/js/vendor.js')
  script(src='/js/all.js')
  script(src='/js/templates.js')