doctype html
include mixins
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name="author" content="Fred Roenn")
    link(rel='stylesheet', href='/css/all.css')
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")

    block title_hook
        title "Frederik Roenn | Developer"
    //- code
  body
    block content
    //- code