doctype html
include mixins
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name="author" content="Fred Roenn")
    link(rel='stylesheet', href='/css/all.css')

    block title_hook
        title "Frederik Roenn | Developer"
    //- code
  body
    block content
    //- code