body {
	background-color: $background-color;
	background-image: url("/images/lantern.jpg");
	-webkit-background-size: cover;
   	-moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

p,
h1 {
	color: $tertiary-color;
}

label,
input,
textarea {
	width: 100%;
}

textarea {
	resize: none;
}