.thumbnail {
	height: 100px;
	width: 100px;
	border-radius: 50%;
	border: 2px solid black;
}

.links {
	i {
		color: $quaternary-color;
	}

	.github:hover {
		color: $github;
	}

	.linkedin:hover {
		color: $linkedin;
	}

	.email:hover {
		color: $gmail;
	}

	.resume:hover {
		color: $resume;
	}

	.information:hover {
		color: white;
	}
}

.blog {
	padding: 0.5em;
	border-radius: 20px;
	border: 1px solid $quaternary-color;

	i {
		color: $quaternary-color;
	}

	&:hover {
		border: 1px solid gray;

		i {
			color: gray;
		}
	}
}

.main {
	padding: 3.5em 1em;
}