.index-info {
	position: absolute;
	margin: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 350px;
	height: 400px;
	padding: 1em;
}

.thumbnail {
	height: 100px;
	width: 100px;
	border-radius: 50%;
	border: 2px solid white;
}