.personal-info {
	position: absolute;
	margin: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 350px;
	height: 400px;
	padding: 1em;
}

.thumbnail {
	height: 100px;
	width: 100px;
	border-radius: 50%;
	border: 2px solid white;
}

.links {
	i {
		color: $quaternary-color;
	}

	.github:hover {
		color: $github;
	}

	.linkedin:hover {
		color: $linkedin;
	}

	.email:hover {
		color: $gmail;
	}

	.resume:hover {
		color: $resume;
	}

	.information:hover {
		color: white;
	}
}

.blog {
	padding: 0.5em;
	border-radius: 20px;
	border: 1px solid $quaternary-color;
	margin-top: 1em;
	margin-bottom: 1em;

	i {
		color: $quaternary-color;
	}

	&:hover {
		border: 1px solid white;

		i {
			color: white;
		}
	}
}