// SIZES
// ------------------------------
$master-width: 74em;
$navbar-height: 3.5rem;
$radius: 3px;
$standard-margin: 1rem;

// COLORS
// ------------------------------

$primary-color: black; //#1F2124;
$secondary-color: black; //#383A3F;
$tertiary-color: black; //#F88650;
$quaternary-color: black; //#F8B447;
$warning-color: #AA312E;
$background-color: #D5D5D5;

$github: #333333;
$gmail: #D34730;
$linkedin: #0076B7;
$resume: gray;

// MEDIA QUERIES
// ------------------------------

@mixin xl {
  @media (min-width: 768px) { @content; }
}