extends layout

block content
  h1 Welcome back
  form(action='/login/', method='POST', role='form')
    label
    	p Email
      input(type='text', name='email' placeholder='Email' required)
    label
    	p Password
      input(type='password', name='password', placeholder='Password' required)
    div
      button(type='submit') Log In