.post {
	padding: 1em;
	background-color: $secondary-color;
	border-radius: $radius;
	margin-bottom: $standard-margin;
	word-wrap: break-word;
	overflow-wrap: break-word;

	&>h1 {
		&:hover { text-decoration: underline; }
	}
}