@import "flexblocks";
@include define-flexblocks("", 0.4rem 0.66rem 1rem 1.65rem 2.72rem);

@media only screen and (min-width: 768px) {
  @include define-flexblocks(xl-, 0.4rem 0.66rem 1rem 1.65rem 2.72rem);
}

%grid-item {
  margin-bottom: $standard-margin;
}

.grid-desktop-only {
  display: none;
}

@include xl {
  .grid-desktop-only {
    display: block;
  }
  .grid-mobile-only {
    display: none;
  }
}

.narrow {
  max-width: 590px;
  width: 100%;
}

.extra-narrow {
  max-width: 320px;
  width: 100%;
}
