// SIZES
// ------------------------------
$master-width: 74em;
$navbar-height: 3.5rem;
$radius: 3px;
$standard-margin: 1rem;

// COLORS
// ------------------------------

$primary-color: black;
$secondary-color: white;
$tertiary-color: gray;
$warning-color: red;

// MEDIA QUERIES
// ------------------------------

@mixin xl {
  @media (min-width: 768px) { @content; }
}