// SIZES
// ------------------------------
$master-width: 74em;
$navbar-height: 3.5rem;
$radius: 3px;
$standard-margin: 1rem;

// COLORS
// ------------------------------

$primary-color: #1F2124;
$secondary-color: #383A3F;
$tertiary-color: #F88650;
$quaternary-color: #F8B447;
$warning-color: #AA312E;

// MEDIA QUERIES
// ------------------------------

@mixin xl {
  @media (min-width: 768px) { @content; }
}